@{
    ViewBag.Title = " Dislaimer";
}
<div class="container text-center list-content">

    <div class="card-body">
        <p>
            The contact details and name shared in the website is open to the public
        </p>
    </div>


</div>

