@model IEnumerable<RescueHandymans.Data.HandyMansService>

@{
    ViewBag.Title = "Services avaiable";
}
<div class="container text-center list-content">
    
    <div class="card-body">
        <p>    പ്രളയ ദുരന്തശേഷം തങ്ങളുടെ വീടുകൾ പുന:സ്ഥാപിക്കാൻ പാടുപ്പെടുന്നവരെ, സേവന സന്നദ്ധരായ ആശാരിമാർ, പ്ലംബേർസ്‌‌‌, മെക്കാനിക്സ്‌, ഇലക്ട്രീഷ്യൻസ്‌ തുടങ്ങിയവരുമായി ബന്ധിപ്പിക്കാനുള്ള ഒരിടം<br />
            As part of rebuilding Kerala, this is an initiative to connect volunteering technicians like plumbers, carpenters, mechanics, electricians etc with those who are seeking help to restore their houses.
            
        </p>
        <a class="card o-hidden h-100 card-handy" href="/home/searchservices">
            <div class="card-body">
                <i class="fas fa-fw fa-hands"></i>
                <span>ടെക്ക്നീഷ്യനെ തിരയുക </span>
                <span class="english">Find Technicians</span>
            </div>
        </a>

        <a class="card o-hidden h-100 card-handy" href="/providers/create">
            <div class="card-body">
                <i class="fas fa-fw fa-toolbox"></i>
                
                
                <span>സേവനം രജിസ്റ്റര്‍ ചെയ്യുക</span>
                <span class="english">Register Technicians</span>
            </div>
        </a>


    </div>


</div>